.my_header_img{
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}

.my_header_background{
	padding: 1.5rem 0 0.96rem;
	background: rgba(255,255,255,0.5);
}

.my_header_p{
	padding-top: 0.1rem;
	font-size: 0.3rem;
	color: #333;
}

.my_dingdan{
	background: #fff;
	margin-bottom: 0.2rem;
}

.my_dingdan_top{
	display: flex;
	justify-content: space-between;
	font-size: 0.3rem;
	padding: 0.3rem;
	border-bottom: 0.01rem #7b7b7b;
}

.my_dingdan_top_right{
	display: flex;
	color: #7b7b7b;
}

.my_dingdan_top_right_img{
	width: 0.3rem;
	margin-left: 0.15rem;
}

.my_dingdan_top_right_img img{
	height: 100%;
}

.my_dingdan_bottom{
	display: flex;
	justify-content: space-around;
	font-size: 0.28rem;
	color: #333333;
	padding: 0.35rem 0 0.1rem;
	text-align: center;
}

.my_dingdan_bottom_img{
	width: 0.8rem;
}

.my_fuwu{
	background: #fff;
}

.my_fuwu_p{
	padding: 0.3rem 0;
	color: #333333;
	font-size: 0.3rem;
}

.my_fuwu_flex{
	display: flex;
	justify-content: space-between;
	text-align: center;
	font-size: 0.28rem;
	flex-wrap: wrap;
}

.my_fuwu_flex_font{
	width: 25%;	
}

.my_fuwu_flex_font_img{
	width: 0.8rem;
	margin: 0 auto;
}

.my_fuwu_flex_font2{
	border-top: 0.01rem solid #ccc;
	width: 100%;
	height: 0;
	margin: 0.2rem 0 0.15rem;
}

.wodedingdan_ul{
	display: flex;
	justify-content: space-between;
	font-size: 0.28rem;
	color: #333333;
	background: #fff;
}

.wodedingdan_ul li{
	padding: 0.15rem;
}

.wodedingdan_ul .wodedingdan_ul_li_click{
	color: #34db2e;
	border-bottom: 0.07rem solid #34db2e;
}

.wodedingdan_border{
	border-bottom: 0.02rem solid #f0f0f0;
}

.wodedingdan_font{
	margin-top: 0.3rem;
	font-size: 0.28rem;
	color: #757575;
}

.wodedingdan_font_flex{
	display: flex;
	justify-content: space-between;
	padding: 0.3rem 0.3rem 0.3rem 0;
}

.wodedingdan_font_flex2{
	display: flex;
	padding: 0.15rem 0;
	border: 0.01rem solid #f0f0f0;
}
	
.wodedingdan_font_img{
	width: 1.58rem;
	margin-right: 0.35rem;
}

.wodedingdan_font_p{
	padding: 0;
}

.wodedingdan_font_p p{
	width: 1.25rem;
	height: 0.5rem;
	text-align: center;
	line-height: 0.5rem;
	padding: 0 0.05rem;
}

.wodedingdan_font_p1{
	color: #333;
	background: #F4F4F4;
	
}

.wodedingdan_font_p2{
	color: #fff;
	background: #34db2e;
	margin-left: 0.2rem;
}

.wodedingdan_wu{
	font-size: 0.28rem;
	color: #999;
	text-align: center;
}

.wodedingdan_wu_img{
	width: 1.5rem;
	margin: 1.1rem auto 0.26rem;
}

.daifukuan_font{
	background: #fff;
	padding:0 0.3rem;
	line-height: 0.56rem;
	color: #7b7b7b;
	margin-top: 0.05rem;
}

.daifukuan_flex{
	display: flex;
	justify-content: space-between;
	
}

.daifukuan_font2{
	font-size: 0.3rem;
}

.daifukuan_flex_img{
	width:1.5rem;
}

.daifukuan_font3{
	line-height: 0.3rem;
}

.daifukuan_font_p{
	padding-left: 0.15rem;
}

.chakanwuliu{
	display: flex;
	padding: 0.3rem 0;
}

.chakanwuliu p{
	padding-left: 0.3rem;
}

.chakanwuliu_img{
	width: 1.72rem;
}

.chakanwuliu_ul{
	margin-top: 0.3rem;
	padding: 0 0.3rem;
	color: #666666;
}

.chakanwuliu_ul li{
	margin-left: 0.15rem;
	border-left: 0.02rem solid #dfdfdf;
	position: relative;
	padding-bottom: 0.3rem;
}

.chakanwuliu_ul li:first-child{
	padding-top: 0;
}

.chakanwuliu_ul li:last-child{
	border: none;
}

.chakanwuliu_ul p{
	margin-left: 0.64rem;
}

.chakanwuliu_ul_p{
	font-size: 0.3rem;
	
}

.chakanwuliu_ul_p2{
	font-size: 0.28rem;
	padding-bottom: 0.35rem;
	border-bottom: 0.01rem solid #dadada;
}

.pingjia_zhengti{
	display: flex;
	padding: 0.25rem 0;
}

.pingjia_zhengti_border{
	border: 0.01rem solid #e8e8e8;
	border-left: none;
	border-right: none;
	background: #fff;
}

.pingjia_zhengti p{
	margin-right: 0.5rem;
}

.pingjia_zhengti_img{
	width: 0.4rem;
}

.pingjia_liuyan{
	color: #b0b0b0;
	padding-bottom: 0.2rem;
	margin-bottom: 0.5rem;
}

.pingjia_liuyan textarea{
	margin-top: 0.3rem;
	width: 100%;
	resize: none;
	outline: none;
	height: 1.68rem;
	border: none;
}

.pingjia_liuyan p{
	text-align: right;
	color: #;
}

.pingjia_liuyan_flie{
	width: 1.6rem;
	position: relative;
}

.pingjia_liuyan_flie input[type="file"]{
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.pingjia_qita_top_img{
	width: 0.4rem;
	margin-right: 0.1rem;
}

.pingjia_qita_top{
	display: flex;
}

.pingjia_submit{
	height: 0.9rem;
	text-align: center;
	line-height: 0.9rem;
	background: #34db2e;
	color: #fff;
	font-size: 0.35rem;
}

.fankui{
	padding: 0.3rem;
	margin-top: 0.3rem;
	background: #fff;
}

.fankui textarea{
	border: none;
	width:100%;
	resize: none;
	outline: none;
	height: 3rem;
}

.fankui p{
	text-align: right;
}

.guanyuwomen_txt{
	text-align: #666;
	font-size: 0.27rem;
}

.shezhi{
	margin-top: 0.3rem;
	background: #fff;
}

.shezhi_font{
	display: flex;
	justify-content: space-between;
	color: #333333;
	font-size: 0.3rem;
	padding: 0.3rem 0;
}

.shezhi_font_img{
	width: 0.4rem;
}

.shezhi_font2{
	width: 100%;
	margin-top: 0.3rem;
	padding: 0.3rem 0;
	background: #fff;
	text-align: center;
	font-size: 0.3rem;
	color: #fe0900;
}

.gerenshezhi_p{
	padding: 0.15rem 0.3rem;
	font-size: 0.26rem;
	color: #7e7e7e;	
}

.gerenshezhi_font2{
	padding: 0.2rem 0;
	display: flex;
	justify-content: space-between;
	line-height: 0.9rem;
}

.gerenshezhi_font2_flex{
	display: flex;
}

.gerenshezhi_font2_flex_img2{
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	overflow: hidden;
}

.gerenshezhi_font2_flex_img{
	width: 0.4rem;
	margin-top: 0.25rem;
	margin-left: 0.3rem;
}

.gerenshezhi_font{
	padding: 0.3rem 0;
	display: flex;
	justify-content: space-between;	
}

.gerenshezhi_font_p2{
	color: #333333;
	font-size: 0.28rem;
}

.gerenshezhi_font_flex{
	display: flex;
	color: #898989;
	font-size: 0.26rem;
	line-height: 0.4rem;
}

.gerenshezhi_font_flex_img{
	width: 0.4rem;
	margin-left: 0.3rem;
}

.nicheng_input{
	padding: 0.2rem 0.3rem;
	background: #fff;
	margin-top: 0.3rem;
	font-size: 0.28rem;
	color: #333;
}

.nicheng_input input,.xiugai input,.xiugai2 input{
	width: 100%;
	border: none;
	outline: none;
}

.xiugai{
	padding: 0.2rem 0 0.2rem 0.2rem;
	margin-bottom: 0.02rem;
	color: #333333;
	background: #fff;
}

.xiugai input{
	font-size: 0.28rem;
}


.xiugai_border{
	margin-top: 0.01rem;
}

.xiugai2{
	display: flex;
	justify-content: space-between;
}

.xiugai2 .xiugai_button{
	width: 1.5rem;
	height: 0.5rem;
	font-size: 0.26rem;
	text-align: center;
	line-height: 0.5rem;
	background: #34db2e;
	color: #fff;
}

.xiugai_tijiao button{
	width: 100%;
	background: #34db2e;
	color: #fff;
	font-size: 0.3rem;
	text-align: center;
	height: 0.8rem;
	border: none;
	outline: none;
	line-height: 0.8rem;
	margin-top: 0.6rem;
}

.shouhuodizhi_wu{
	border-top: 0.01rem solid #e9e9e9;
}

.shouhuodizhi_wu_img{
	width: 1.6rem;
	padding: 1rem 0 0.2rem;
	margin: 0 auto;
}

.shouhuodizhi_wu p{
	color: #999999;
	text-align: center;
	font-size: 0.28rem;
}

.shouhuodizhi_footer{
	background: #34db2e;
	color: #fff;
	font-size: 0.33rem;
	height: 0.85rem;
	line-height: 0.85rem;
	text-align: center;
}

.shouhuodizhi{
	background: #fff;
}

.shouhuodizhi_font{
	border-top: 0.01rem solid #e9e9e9;
	border-bottom: 0.01rem solid #e9e9e9;
	padding: 0.2rem 0.3rem;
}

.shouhuodizhi_font p:first-child{
	font-size: 0.28rem;
}

.shouhuodizhi_font p:last-child{
	font-size: 0.26rem;
}

.shouhuodizhi_font2{
	padding: 0.2rem 0.3rem;
	font-size: 0.26rem;
}

.shouhuodizhi_font2,.shouhuodizhi_font2_flex{
	display: flex;
	justify-content: space-between;
	line-height: 0.4rem;
}

.shouhuodizhi_font2_img,.shdz_bjxg_font_img{
	width: 0.4rem;
	margin-right: 0.15rem;
}

.shouhuodizhi_font2_p{
	background: #34DB2E;
	color: #fff;
	padding: 0 0.1rem;
}

.shdz_bjxg{
	padding: 0.25rem 0.3rem;
	background: #fff;
	color: #333333;
	display: flex;
	justify-content: space-between;
	font-size: 0.28rem;
	border-top: 0.01rem solid #e9e9e9;
}

.shdz_bjxg input{
	border: none;
	outline: none;
	width: 100%;
	font-size: 0.28rem;
}

.shdz_bjxg_p{
	width: 1.5rem;
}

.toolbar .picker-button,.toolbar-inner h1{
	font-size: 0.28rem;
}

.weui-picker-modal .picker-item{
	font-size: 0.28rem;
}

.shdz_bjxg_font{
	display: flex;
	padding: 0.3rem;
}

.shoucang{
	margin-top: 0.2rem;
	padding: 0.2rem 0.3rem;
	display: flex;
	justify-content: space-between;
	background: #fff;
}

.shoucang_img{
	width: 1.5rem;
	height: 1.5rem;
}

.shoucang_img img{
	height: 100%;
}

.shoucang_flex{
	display: flex;
}

.shoucang_flex_p{
	margin-left: 0.2rem;
}

.shoucang_flex_p p:first-child{
	font-size: 0.28rem;
}

.shoucang_p{
	padding-top: 0.7rem;
}

.zhanghu{
	background: #34db2e;
	width: 100%;
	height: 1.15rem;
}

.zhanghu_header a{
	width: 0.23rem;
}

.zhanghu_header p{
	color: #fff;
}

.zhanghu{
	padding: 1.8rem 0.3rem 0.35rem;
	color: #fff;
	font-size: 0.26rem;
}

.zhanghu_p2{
	font-size: 0.5rem;
	padding-top: 0.2rem;
}

.zhanghu_chongzhi{
	padding: 0.3rem;
	background: #fff;
}

.zhanghu_chongzhi_p{
	border-left: 0.05rem solid #34db2e;
	padding-left: 0.2rem;
}

.jifen_p{
	padding-top: 1.5rem;
	font-size: 1rem;
}

.jifen_p2{
	font-size: 0.28rem;
}

.jifen_font{
	padding: 0 0.3rem;
	font-size: 0.28rem;
	color: #666;
	margin: 0.3rem 0;
	background: #fff;
}

.jifen_font_flex{
	display: flex;
	padding: 0.25rem 0;
}

.jifen_font_flex_img{
	width: 0.4rem;
	margin-right: 0.15rem;
}

.jifen_font_p{
	padding: 0.3rem 0;
	font-size: 0.26rem;
}

.tuijian_img{
	width: 2.7rem;
	margin: 1.5rem auto 0;
}

.tuijian{
	text-align: center;
	font-size: 0.28rem;
}

.tuijian p{
	margin-top: 0.45rem;
}

.tuijian_display{
	display: none;
	padding-bottom: 0.6rem;
}

.tuijian_footer{
	display: flex;
	justify-content: space-between;
	padding: 0 0.3rem;
}

.tuijian_footer_font_img{
	width: 1rem;
	margin-bottom: 0.2rem;
}

.tuijian_footer_font{
	font-size: 0.28rem;
	text-align: center;
}

.tuijian_display_p{
	margin: 0.4rem 0 0.5rem;
	text-align: center;
	font-size: 0.3rem;
	color: #333;
}

.tuijian_hidden{
	width: 100%;
	position: absolute;
	z-index: 900;
	background: rgba(0,0,0,0.2);
	display: none;
}

.zhifufangshi_font2{
	line-height: 0.54rem;
}

.zhifufangshi_font_img2{
	margin-top: 0.07rem;
}
