*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 0.26rem;
	background: #f5f5f5;
}

input{
	-webkit-appearance:none;
}

P{
	margin: 0;
}

a{
	color: #333333;
	text-decoration: none;	
}

img{
	width: 100%;
	display: block;
}

.huamiao_padding{
	padding:0 0.3rem;
}

li{
	list-style: none;
}

.color_font3{
	color: #4c4c4c;
}

.color_font4{
	color: #333;
}

.color_font5{
	color: #fe2c17;
}

.color_font6{
	color: #7B7B7B;
}

.header{
	width: 100%;
	display:flex;
	justify-content: space-between;
	padding: 0.2rem 0;
	line-height: 0.4rem;
	font-size: 0.32rem;
	color: #333;
}

.header a{
	width: 0.4rem;
	height: 0.4rem;
}

.huamiao_background{
	background: #fff;
}


/*footer star*/
.huamiao_footer_jianju{
	width: 100%;
	height: 1.15rem;
}

.huamiao_footer{
	display: flex;
	justify-content: space-around;
	position: fixed;
	z-index: 999;
	width: 100%;
	background: #fff;
	bottom: 0;
}

.huamiao_footer_font_img{
	width: 0.75rem;
}

.huamiao_footer_font{
	font-size: 0.3rem;
	text-align: center;
	color: #666666;
}

.huamiao_footer_font_click{
	color: #77d627;
}
/*footer end*/

/*商品详情footer star*/
.shangping_footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #fff;
}

.shangping_footer_font{
	width: 0.75rem;
	padding: 0.1rem 0.3rem;
}

.shangping_footer_font2{
	display: flex;
}

.shangping_footer_font2 a{
	text-align: center;
	width: 1.9rem;
	display: block;
	line-height: 0.95rem;
	font-size: 0.3rem;
}

.shangping_footer_font2_a1{
	background: #ececec;
	color: #333333;
}

.shangping_footer_font2_a2{
	background: #34db2e;
	color: #fff;
}

.shangping_footer_font3 a{
	height: 0.6rem;
	line-height: 0.6rem;
	margin-top: 0.175rem;
}

.shangping_footer_font2_a1_padding{
	margin-right: 0.15rem;
}

.shangping_footer_border{
	border-bottom: 0.01rem solid #ececec;
}
/*商品详情footer end*/

.huamiao_padding_background{
	background: url(../img/pexels-photo-228735.png) no-repeat;
	background-size: cover;
}